root = true # set to true for root directory working

[*]
indent_style = space
indent_size = 2
trim_trailing_whitespace = true
end_of_line = lf
insert_final_newline = true
charset = utf-8

[*.ts] #set config para solo extensiones ts
quote_type = single # para especificar comillas simples o dobles

[*.md]
max_line_length = off #se coloca off este config para que en los file .md no halla limite de caracteres por linea
trim_trailing_whitespace = false #se coloca off aca para que permita que halla espacios en blancos entre lineas
